.language-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2em;
  height: 60px;
}

.language-block__btn {
  position: relative;
  padding: 8px;
  font-weight: 500;
  font-size: 16px;
  color: var(--black);
  background-color: rgb(255 255 255 / 80%);
  border-radius: 30px;
}

.language-block__btn_en::after,
.language-block__btn_ru::after {
  content: "";
  display: block;
  position: absolute;
  width: 1.5em;
  height: 0.2em;
  background-color: var(--accent);
  border-radius: 10em;
}

.language-block__btn_en::after {
  left: 1.4em;
}

.language-block__btn_ru::after {
  right: 1.4em;
}