.notFound__wrapper {
  margin-top: 10vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  font-weight: 700;
}

.notFound__title {
	font-size: 60px;
	line-height: 2;
}

.notFound__text {
	font-size: 40px;
	line-height: 2;
}